################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/api/node_modules
/api/.vs
/.vs/brick-car.slnx/FileContentIndex
